[Unit]
Description=Ocean UI Interface Loading
After=ut5000.service

[Service]
Type=simple
ExecStart=/bin/bash -c "/usr/bin/initui.sh"
Restart=no

[Install]
WantedBy=multi-user.target
