
[Unit]
Description=NATS Server Service
After=network.target

[Service]
Type=simple
ExecStartPre=/bin/bash -c "nmcli device set lan2 managed no; /sbin/ip addr add 192.168.200.1/24 dev lan2"
ExecStart=/bin/bash -c "/usr/bin/nats-server -c /etc/ocean/nats-serv.conf > /var/log/nats-server.log 2>&1"
Restart=no

[Install]
WantedBy=multi-user.target
