
[Unit]
Description=NATS Server Service
After=udhcpd.service

[Service]
Type=simple
ExecStart=/bin/bash -c "/usr/bin/nats-server -c /etc/ocean/nats-serv.conf > /var/log/nats-server.log 2>&1"
Restart=no

[Install]
WantedBy=multi-user.target
