[Unit]
Description=udhcpd DHCP service
After=network.target

[Service]
Type=simple
ExecStartPre=/bin/bash -c "ip addr add 192.168.200.1/24 dev lan2; ifconfig lan2 up"
ExecStart=/usr/sbin/udhcpd -f /etc/udhcpd.conf
Restart=always

[Install]
WantedBy=multi-user.target
